<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h1>Hello</h1>
	<h1><%= test[0] %></h1>
	<% for (var i = 0; i < items.length; i++) { %>
		<li><%= items[i].desc %></li>
	<% } %>
</body>
</html>